<h1> <%= @specials.venue_name %> </h1> 
<p> <%= @specials.address %></p>
<p> <%= @specials.suburb %></p>
<p> <%= @specials.happy_hour_time %></p>
<p> <%= @specials.description %></p>
<p> <a href="<%= @specials.url %>"><%= @specials.url %></a></p>

<button onclick="goBack()">Go Back</button>