<h1> <%= @special.venue_name %> </h1> 
<p> <%= @special.address %></p>
<p> <%= @special.suburb %></p>
<p> <%= @special.happy_hour_time %></p>
<p> <%= @special.description %></p>
<p> <a href="<%= @special.url %>"><%= @special.url %></a></p>
<p>
  <a href="/">
    <button>Home</button>
  </a>
</p>
<p>
  <a href="/special/<%= @special.id %>/edit">
    <button>Edit</button>
  </a>
</p>

